/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}
img {
  object-fit: cover;
}
/* les titres */
h1 {
  margin-bottom: 0px;
}

/* couleur des icônes */
.fa-solid {
  color: var(--main-color);
}
/* sauf de l' icône localisation qui est noire */
.fa-location-dot {
  color: black;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0px;
  height: 79px;
}
/* logo */
.logo {
  width: 61px;
  height: 19px;
}
/* barre de nav en liste  */
.liens {
  gap: 40px;
}
header nav ul {
  display: flex;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
header nav ul li {
  margin-left: 10px;
  margin-bottom: 22px;
}
header nav ul li a {
  text-decoration: none;
  padding-top: 17px;
  color: black;
}
/* quand on passe la souris sur les liens */
header nav ul li a:hover {
  border-top: 2px solid;
  color: var(--main-color);
}
/* fin de barre de nav */
.info-group {
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
}
.info-group > p {
  margin-bottom: 0px;
}

/* formulaire : barre de recherche */
/* debut */

/* container parent pour la barre de recherche */
.search-bar {
  display: flex;
  width: fit-content;
  height: 50px;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  border-radius: 15px 15px 15px 15px;
  margin-bottom: 35px;
  margin-top: 35px;
  padding-right: 0px;
}
/* couleur de fond icone de localisation */
.location {
  background-color: #f2f2f2;
  width: 50px;
}
/* icone de localisation */
.search-bar i {
  border-radius: 15px 0px 0px 15px;
  display: flex;

  align-items: center;
  justify-content: center;
}
/* input du label */
input[type="search"] {
  display: flex;
  text-align: center;
  height: 50px;
  font-size: 18px;
  border-bottom: none;
  border-top: none;
  border-right: none;
  border-left: none;
  font-weight: bold;
  color: black;
  font-weight: 700;
}

/* div contenant le bouton et/ou la loupe */
.research {
  height: 53px;
  border: 2px solid var(--main-color);
  border-radius: 0px 15px 15px 0px;
  background-color: var(--main-color);
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 700;
  color: white;
  margin-top: -2px;
}

/* masquer loupe en mode desktop */
.phone {
  display: none;
}
/* fin de la barre de recherche */

/* début des filtres */

/* container parent des filtres +titre */
.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 35px;
}
/* pour espacer le titre filtres avec le 1er bouton filtre */
.margin-15 {
  font-size: 18px;
  font-weight: 700;
  margin-right: 15px;
}
/* container parent des boutons sans le texte "filtre" */
.all-buttons {
  height: 50px;
  display: flex;
  flex-direction: row;

  gap: 15px;
}

.first-group,
.second-group {
  display: flex;
  gap: 15px;
}
/* caractéristiques des boutons */
.button-filter {
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  padding: 4px 19px;
  padding-right: 15px;
  border-radius: 25px;
  border: 2px solid #d9d9d9;
  background-color: white;
  color: black;
  font-size: 17px;
  font-weight: 700;
  white-space: nowrap;
}
/* icone info */
.button-filter i {
  font-size: 22px;
  padding-right: 10px;
}
/* passage souris sur les boutons des fitres */
.button-filter:hover {
  background-color: #deebff;
}
/* container parent de l icone + du texte concluant la section info */
.conclusion {
  display: flex;
  margin: 5px;
  margin-left: 0px;
  align-items: center;
  gap: 10px;
}

/* cercle entourant l icone info */
.entourer-info {
  display: block;
  width: 22px;
  border: 2px solid var(--main-bg-color);
  border-radius: 50%;
}
.info-icone {
  padding-left: 9px;
}
.conclusion p {
  margin: 0;
}
/* container principal déjà créé de base */
.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  padding-top: 0px;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.hebergements-and-populaires .card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
/* adaptation de l image a son container (créé de base) */
.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: black;
}
.card-subtitle {
  margin-top: 8px;
  margin-bottom: 8px;
  color: black;
}
/* span de l euro pour 700 */
.euro {
  font-weight: 700;
}
/* étoile grisée */
.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}
.Activities-in-Marseille section {
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;

  display: flex;
  flex-direction: column;
}

.hebergements-cards-rang-1,
.hebergements-cards-rang-2 {
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;
}
.hebergements-cards-rang-1 a article.card,
.hebergements-cards-rang-2 a article.card {
  height: 100%;
}
/* espacer les 2 rangées de cartes  */
.hebergements-cards-rang-1 {
  padding-bottom: 30px;
  padding-top: 30px;
}
.hebergements-cards-rang-2 {
  padding-bottom: 30px;
}

/* gestion des images hebergements */
.hebergements-cards-rang-1 img,
.hebergements-cards-rang-2 img {
  width: 100%;
  height: 124px;
  border-radius: 20px 20px 0px 0px;
}
.hebergements-cards-rang-1 a,
.hebergements-cards-rang-2 a {
  width: 30%;
  height: 100%;
  text-decoration: none;
}

.Afficher_plus {
  color: #000;

  font-size: 18px;

  font-weight: 700;

  margin: 0;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}
/* espace de 5px sous les étoiles (créé de base) on rajoute pour hébergements*/
.populaires-cards .card-rating,
.hebergements-cards-rang-1 .card-rating,
.hebergements-cards-rang-2 .card-rating {
  margin-bottom: 5px;
}

/* Activités à Marseille */
.Activities {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}
.activities-cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 30px;
  gap: 25px;
}
.activities-cards a {
  text-decoration: none;
  width: 24%;
}
.activities-cards img {
  width: 100%;
  height: 380px;
  border-radius: 20px 20px 0px 0px;
}
.activities-cards article.card {
  width: 100%;
  height: 100%;

  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.correction {
  margin: 19px 20px;
}
.footer-titles {
  font-size: 18px;
  font-weight: 700;
}
footer {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

.container-footer-titles {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.container-footer-titles {
  width: 100%;
}
.a_propos {
  width: 33%;
}
.nos_hebergements {
  width: 33%;
}
.assistance {
  width: 33%;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* x
x
x
XXXXXXXXXXXXXXXXXXXXXXXXXX         MODE TABLETTE         XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
x
x
x */

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  h1 {
    margin-top: 40px;
  }
  .all-buttons {
    width: 100%;
  }
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 35px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards .card {
    width: 30%;
    margin-top: 20px;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
  /* passer la hauteur des images activités à 200px */
  .activities-cards img {
    height: 200px;
  }
  /* passer le titre des filtres au dessus des boutons filtres */
  .filters {
    flex-direction: column;
    align-items: baseline;
  }
  .margin-15 {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}
/* x
x
x
XXXXXXXXXXXXXXXXXXXXXXXXXX         MODE MOBILE         XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
x
x
x */
/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
  .main-container {
    padding: 0px;
  }

  header {
    /* padding: 0px; */
    /* margin: 0px; */
    width: 100%;
    flex-direction: column;
  }
  .logo {
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
  }
  .liens {
    gap: 0px;
  }
  nav {
    width: 100%;
  }
  header nav ul li {
    width: 50%;
    text-align: center;
    margin-left: 0px;
    margin-bottom: 30px;
  }
  header nav ul li a {
    display: block;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 2px solid;
    border-color: var(--main-bg-color);
  }

  header nav ul li a:hover {
    border-top: hidden;
    border-bottom: 2px solid;
    color: var(--main-color);
  }
  .search-bar {
    width: 100%;
    justify-content: space-between;
  }
  /* faire disparaitre le bouton rechercher en mode phone */
  .desktop {
    display: none;
  }
  /* et faire apparaitre la loupe */
  .phone {
    display: inline;
  }
  .research {
    border-radius: 15px 15px 15px 15px;
    width: 50px;
  }
  /* couleur de la loupe */
  .fa-magnifying-glass {
    color: white;
  }
  /* diminuer taille du texte pour gagner de la place */
  input[type="search"] {
    font-size: 14px;
  }
  section.info-group {
    padding: 0 20px;
    margin-top: 30px;
  }
  .all-buttons {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .first-group,
  .second-group {
    width: 100%;
    margin-bottom: 10px;
    gap: 10px;
  }
  .button-filter {
    width: 50%;
    font-size: 14px;
    padding: 0;
    justify-content: center;
  }
  .conclusion {
    margin-top: 30px;
  }
  .info-icone {
    padding-left: 6px;
  }
  .hebergements-and-populaires {
    flex-direction: column-reverse;
  }

  .populaires-cards {
    flex-direction: column;
  }
  .populaires-cards .card {
    width: 100%;
  }
  section.populaires {
    border-radius: unset;
    margin-top: 30px;
  }
  .hebergements.hebergements {
    background-color: white;
  }

  /* ... */
  /* mettre hebergements en column et pleine largeur */
  .hebergements-cards-rang-1 > a,
  .hebergements-cards-rang-2 > a {
    flex-direction: column;
    margin-top: 15px;
    width: 100%;
  }
  /* réduire l' écart vertival entre rang 1 et rang 2 */
  .hebergements-cards-rang-1 {
    padding-bottom: 0px;
    padding-top: 30px;
  }

  /* mettre activities en column */
  .activities-cards {
    flex-direction: column;
    gap: 0px;
  }
  .activities-cards p {
    margin: 0;
    padding: 20px 19px;
  }
  /* réduire hauteur des images  */
  .activities-cards img {
    height: 141px;
  }
  /* mettre les cartes activities en pleine largeur */
  .activities-cards a {
    width: 100%;
    padding-bottom: 5px;
  }
  .activities-cards article.card {
    padding-bottom: 5px;
    margin-bottom: 15px;
  }
  footer {
    margin-top: 35px;
    border-radius: unset;
  }
  /* mettre le footer en column */
  .container-footer-titles {
    flex-direction: column;
  }

  .a_propos {
    width: 100%;
  }
  .nos_hebergements {
    width: 100%;
  }
  .assistance {
    width: 100%;
  }
}
